{% extends "base.html" %}
{% load static %}
{% block content%}
{% load bootstrap4 %}
    <div class="d-md-flex h-md-100">
      <!-- First Half -->

      <div class="col-md-6 p-0 h-md-90">
        <div
          class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center"
        >
          <div class="logoarea pt-5 pb-5">
            <img src="{%static 'img/col/DG LOGO.png'%} " class="img-fluid" />
          </div>
        </div>
      </div>

      <!-- Second Half -->

      <div class="col-md-6 bg-white">
        <center>
          <img
            src="{%static 'img/col/DG LOGO black fade.png'%} "
            height="100px"
            width="100px"
          />
        </center>
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-success" value='Change Password'>
            <input type="reset" class='btn btn-danger' value='Reset'>
        </form>
    </div>
      </div>
    </div>
  {%endblock%}
