{% extends "base.html" %}
{% load static %}
{% block content%}

<div class="container">
    <h1 style="color:transparent;">
      Welcome to BlogPics
    </h1>
    <div class="card text-center p-4">
      <h2 class='text-success'>
        Your Account Password reset Successfully..!
      </h2>
      <h1>
        <a class="btn btn-danger" href="{% url 'administrator:login' %}">
          Login
        </a>
      </h1>
      <h2>
        <a class='btn btn-outline-success' href="{% url 'index' %}">
          Go to HomePage
        </a>
      </h2>
    </div>
  </div>
{%endblock%}