{% extends "base.html" %}
{% load static %}
{% block content%}
    <div class="d-md-flex h-md-100">
      <!-- First Half -->

      <div class="col-md-6 p-0 h-md-90">
        <div
          class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center"
        >
          <div class="logoarea pt-5 pb-5">
            <img src="{%static 'img/advert/transport.jpg'%}    " class="img-fluid" />
          </div>
        </div>
      </div>

      <!-- Second Half -->

      <div class="col-md-6 bg-white">
        <center>
          <img
            src="{%static 'img/col/DG LOGO black fade.png'%} "
            height="100px"
            width="100px"
          />
        </center>
        <form class="form" method="POST">
          {% csrf_token %}  
          <input type="hidden" name="service_type" value="Transport">
          <label>PETS</label>
          <input type="text" name="pet" class="form-control">
          <br />
          <label>Breed</label><br />
          <input type="text" name="breed" class="form-control">
          <br>
          <label>Age</label><br>
          <input type="text" name="age" class="form-control">
          <label>Pickup Location</label><br>
          <input type="text" name="pickup_location" class="form-control">
          <label>Delivery Location</label>
          <input type="text" name="drop_location" class="form-control">
          <br>
          <label>Transport Type</label>
          <select class="form-control" name="transport_type">
            <option>AC</option>
            <option>Non-AC</option>
         </select>
         <label>Need Pet Verification</label>
          <select class="form-control" name="pet_verification">
            <option>Yes</option>
            <option>No</option>
         </select>
         <label>Need New Crate</label>
          <select class="form-control" name="new_crate">
            <option>Yes</option>
            <option>No</option>
         </select>
         
          <center>  <input type="submit" class="btn btn-success"></input>
          </div>
        </form>
       
      </div>
    </div>
 {%endblock%}
